* {   
    margin: 0;
    
}

div.body {
    
    display: flex;
    flex-direction: column;
    flex: 1;
    
}

.header img {
    width: 100px;
    height: 90px;
}

 div.header,  div.content,  div.footer {
    display: flex;
    align-items: center;

}

.header {
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    background-color: #1f2937;
    color: #f9faf8;
    height: auto;
    width: 100vw;
    
}

ul {
    
    display: flex;
    list-style-type: none;
    gap: 10px;
    
}

.content {
    margin: 90px 0 0;
    display: flex;
    
    flex-direction: column;
   
    

}
.Presentation, .info, .Quote, .Sign-up {
    display: flex;
    max-width: 1321px;
    width: 1521px;
    flex:1 1 0;
    padding: 150px 150px;
}

.footer {
    
    justify-content: center;
    background-color: #1f2937;
    color: #f9faf8;
    height: 80px;
   
}

.Presentation {
    
    display: flex;
    align-items: center;
    background-color: #1f2937;
    
    
    
}

.Presentation div {
    color: white;

    flex: 0 0 1;
}
.Presentation p.header_text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9faf8;
    
}


.Presentation button {
    color: white;
    padding: 4px 10px;
    border-radius: 8px;
    font-weight: 900;
    background-color: #3882f6;
    border: none;
    text-align: center;
    text-decoration: none;
    margin:0px 20px;
    
}
.info {
    flex-direction: column;
    align-items: center;
    display: flex;
    
    
}
.info div {
    display: flex;
    border: 20px;
    
    
}
.yt {
    font-size: 36px;
    font-weight: bolder;
    
}
.info .img-info {
    justify-content: space-around;
    padding: 50px;
    display: block;
    text-align: center;
    
    
}
.img-info img {
    border-color: #3882f6;
    border-style: double;
    border-radius: 8px;
    
}
.Quote {
    flex-direction: column;
    background-color: #e5e7eb;
    font-size: 36px;
    max-width: 1321px;
}
.Quote p.quote {
    color: #1f2937;
    font-style: italic;

}
.Quote p.author {
    color: black;
    font-weight: bolder;
    text-align: right;
    
}
.container {
    display: flex;
    
    background-color: #3882f6;
    border-radius: 8px;
}

.Sign-up {

    display: flex;
    justify-content: center;
    color: white;
    
    
}

.sign-up-card {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    
    
    

}
.sign-up-card :nth-child(1) {
    font-size: 18px;
}

.sign-up-card button {
    
    
}


p {
    padding: 10px 20px;
}