* {   
    margin: 0;
    
    
}

div.body {
    
    display: flex;
    flex-direction: column;
    flex: 1;
    
}

img {
    width: 100px;
    height: 90px;
}

 div.header,  div.content,  div.footer {
    display: flex;
    align-items: center;

}

.header {
    justify-content: center;
    position: fixed;
    top: 0;
    background-color: #1f2937;
    color: #f9faf8;
    height: auto;
    width: 100vw;
    
}

ul {
    
    display: flex;
    list-style-type: none;
    gap: 10px;
    
}

.content {
    margin: 90px 0 0;
    display: flex;
    flex-direction: column;
   
    

}
.Presentation, .info, .Quote, .Sign-up {
    padding: 100px 100px;
}

.footer {
    
    justify-content: center;
    background-color: #1f2937;
    color: #f9faf8;
    height: 80px;
   
}

.Presentation {
    background-color: #1f2937;
}
.info {
    background-color: aliceblue; 
}
.Quote {
    background-color: #1f2937;
}

.Sign-up {
    background-color: aquamarine;
}